#bloc_page {
    width: 100%;
    margin: auto;
}

/* HEADER */
header {
    display: flex;
    background-color: blue;
    height: 120px;
    padding-top: 50px;
}

h1 {
    font-size: 30px;
    color: #ffffff;
    padding-left: 20px;
}


/* BANNIERE */
.banniere {
    display: flex;
    justify-content: space-around;
    background-color: chartreuse;
    height: 100px;
    padding-top: 50px;
}


/* SECTION */
section {
    display: flex;
    flex-direction: row;
    background-color: deepskyblue;
}

section .article {
    display: flex;
    flex-direction: column;
    background-color: blueviolet;  
}

article {
    border-bottom: 10px solid cyan;
    height: 250px;
    width: 800px;
    color: #ffffff;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 40px;
}

section aside {
    display: flex;
    background-color: #7fffd4;
    width: 1000px;
}


/* FOOTER */
footer {
    background-color: deeppink;
    height: 50px;
    margin-top: -16px;
}
